  .menuHeader {
    font-size: 100px;
    font-weight: 400;
  }

  .activeButton {
    background-color: #ad343e !important;
    color: #ffffff !important;
  }

  .orderDiv {
    background-color: #f7f7f3;
  }

  .plateImg {
    border-radius: 12px 12px 0 0;
  }