/* src/App.css */
.App {
  font-family: 'DM Sans', sans-serif;
  color: #2c2f24;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1, h2, h3,h4 {
  font-family: 'Playfair Display', serif;
}

a {
  text-decoration: none;
}

/* Add more global styles as needed */
